<div class="mat-elevation-z8">

  <div class="filtro-header">
      <mat-form-field [style.width]="'100%'">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

      
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef [hidden]="true"> Id </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}} </mat-cell>
      </ng-container>
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Curso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>

      <!-- Ativo Column -->
      <ng-container matColumnDef="ativo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ativo}} </mat-cell>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="Ações">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>
          
      </ng-container>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunas;">
      </mat-row>
  </mat-table>
</div>