.toolbar {
    background: #fff;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    padding: 10px 50px;
    margin-bottom: 50px;
}

.toolbar-titulo {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-itens {
    margin-right: 40px;
}

.toolbar-itens a{
    color: #00BFA5;
    text-decoration: none;
}

.toolbar-itens a:hover {
    color: #606060;
}