<div *ngIf="exibindoNavegacao()" (window:resize)="onResize($event)">
    <mat-toolbar class="toolbar">
        <span class="toolbar-toogle" (click)="exibindoMenu = !exibindoMenu" [ngStyle]="{'margin-left': exibindoMenu == false ? 0 : '300px'}">
            <a href="javascript:;">
                <i class="fa fa-bars"></i>
            </a>
        </span>
        <!--<span class="toolbar-titulo texto-primario">UezoHub</span>-->
        <span class="toolbar-spacer"></span>
    </mat-toolbar>

    <ul class="sidenav-menu" [hidden]="!exibindoMenu">
        <li class="sidenav-titulo">UezoHub</li>
        <li class="sidenav-user-title">
            {{auth.jwtPayload?.nome | primeiroNome}}
        </li>
        <li class="sidenav-user-pic">
            <div (click)="fileInput.click()" style="cursor:pointer;" *ngIf="!exibeFotoUsuarioPadrao()">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div> 
            <div (click)="fileInput.click()" style="cursor:pointer;" *ngIf="exibeFotoUsuarioPadrao()">
                <div class="user" [style.background]="getFoto()"></div>  
            </div>   
        </li>
        <small (click)="fileInput.click()" style="cursor:pointer;">Trocar foto <i class="fa fa-pencil" style="padding-left:10px;" aria-hidden="true"></i></small>
        <li>
            <input [hidden]="true" type="file" accept=".jpg, .jpeg, .bmp, .png" name="file" class="inputfile" (change)="selectFile($event)" #fileInput/>
        </li>
        <hr>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/painel-coordenador">Home</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('ALUNO')">
            <a routerLink="/painel-aluno">Home</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('PROFESSOR')">
            <a routerLink="/painel-professor">Home</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/aluno">Alunos</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/cursos">Cursos</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/disciplinas">Disciplinas</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/professor">Professores</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('COORDENADOR')">
            <a routerLink="/coordenador">Coordenadores</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo" *ngIf="auth.temPermissao('ALUNO')">
            <a routerLink="/escolha-curso">Trocar de Curso</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo">
            <a routerLink="/minha-conta">Minha conta</a>
        </li>
        <li class="sidenav-itens" routerLinkActive="ativo">
                <a routerLink="/logout">Sair</a>
        </li>
    </ul>
</div>

<div [ngClass]="{'container' : exibindoMenu === false && exibindoNavegacao(),
                 'painel' : exibindoMenu === true && exibindoNavegacao()}">
    <router-outlet></router-outlet>

</div>
<ng2-toasty></ng2-toasty>