#header-index {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/background-index.jpg') fixed;
    background-size: 100% auto;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#header-index .contents {
    padding: 200px 0 700px;
}
