<mat-accordion class="upload-form mat-elevation-z8">
  <mat-expansion-panel [expanded]="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Novo Upload
      </mat-panel-title>
      <mat-panel-description>
        Escolha a disciplina e o curso
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form #f=ngForm (ngSubmit)="upload()">
    <mat-form-field>
        <mat-select placeholder="Selecione o Curso" name="curso" [(ngModel)]="conteudo.disciplina.curso.id" required>
            <mat-option *ngFor="let curso of cursos" [value]="curso.value">
              {{ curso.viewValue }}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Selecione a Disciplina" name="disciplina" [(ngModel)]="conteudo.disciplina.id" required>
            <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
              {{ disciplina.viewValue }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary" class="botao" [disabled]="validaUpload(f)" >Upload</button>
    <input type="file" name="file" id="file" class="inputfile" (change)="carregaArquivo($event)"/>
    <label for="file"> Selecione o Arquivo</label><span class="texto-secundario">{{nomeDoArquivo}}</span>
  </form>
  </mat-expansion-panel>
</mat-accordion>