
<div class="dialog-container">
    <div class="dialog-title">
        <p>Selecione e ajuste sua foto</p>
    </div>
    
    <input [hidden]="true" id="inputButton" type="file" #file (change)="fileChangeEvent($event)" />

    <div class="dialog-upload">
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="128"
            (imageCropped)="imageCropped($event)"
            (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
        <button mat-raised-button style="font-weight: bold;" (click)="file.click()" *ngIf="!croppedImage">Selecione uma foto do seu armazenamento</button>
    </div> 
    <div class="dialog-actions">
        <button mat-raised-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button type="button" color="primary" (click)="salvar()" class="botao">Salvar foto de perfil</button>
        <button mat-button color="primary" (click)="novaFoto()" *ngIf="croppedImage">Selecionar outra imagem</button>
    </div>
</div>