<div class="mat-elevation-z8">

  <div class="filtro-header">
    <mat-form-field [style.width]="'100%'">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="fa fa-folder"> </i> {{element.nome}} </mat-cell>
    </ng-container>

    <!-- Curso Column -->
    <ng-container matColumnDef="responsavel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.usuario.nome}} </mat-cell>
    </ng-container>

    <!-- Ativo Column -->
    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dada do Upload </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.dataEnvio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="link" >
        <mat-header-cell *matHeaderCellDef > Download </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <a href="{{element.link}}" download="{{element.nome}}" style="color:black; padding-left:5px;"> <i class="fa fa-download"> </i> </a> 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;" [ngClass]="{'highlight-row': linhaSelecionada == row.id}" (click)="linhaOnClick(row)"></mat-row>
  </mat-table>
</div>
