@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

#header-index {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/background-index.jpg') fixed;
    background-size: 100% auto;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#header-index .contents {
    padding: 30px 15px 700px;
}

.indigo {
    background: transparent;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    
    
    color: aquamarine;
    position: relative;
    padding-top: 15px;
}
/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    #nav-main li a.nav-link {
      padding-top: 18px;
    }
  }
  
  .navbar-toggler {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .slicknav_menu {
    display: none;
  }
  
@media screen and (max-width: 768px) {
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      position: absolute;
      padding: 15px;
      top: 0;
    }
    .navbar-brand img {
      width: 70%;
    }
}