.cards {
    padding: 20px;
    position: relative;
    width: 1024px;
}

.card-info {
    width: 230px;
    height: 100px;  
    text-align: center;
}

.card-icone {
    font-size: 60px;
    color: #009688;
}

.card-contador {
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.card-descricao {
    font-size: 14px;
}
 .subtitulos {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
 }