<div style="padding:20px">
    <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar(f)">

        <h3 class="texto-secundario"> Novo Curso </h3>
        <hr>
        <!--
    <div class="form-group">
      <label for="name" class="texto-secundario">Nome</label>
      <input type="text" class="form-control" name="nome" ngModel #nome="ngModel" required minlength="2" maxlength="60">
    </div>
  -->
        <mat-form-field class="campo-full-width">
            <input matInput placeholder="Nome do curso" name="name" [(ngModel)]="curso.nome" #name="ngModel" required minlength="2" maxlength="60">
            <mat-error *ngIf="name.hasError('maxlength') && (name.dirty || isSubmitted)">
                Entre com um Nome válido.
            </mat-error>
            <mat-error *ngIf="name.hasError('required') && name.dirty">
                Nome é obrigatório
            </mat-error>
        </mat-form-field>


        <div class="form-group">
            <mat-checkbox [(checked)]="curso.ativo" [(ngModel)]="curso.ativo" name="ativo">Ativo</mat-checkbox>
        </div>

        <button mat-raised-button type="submit" color="primary" class="botao" [disabled]="f.invalid">Salvar</button>
    </form>
    <div class="mat-elevation-z8" style="margin-top: 30px;">

        <div class="filtro-header">
            <mat-form-field [style.width]="'100%'">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef [hidden]="true"> Id </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}} </mat-cell>
            </ng-container>
            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Curso </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>

            <!-- Ativo Column -->
            <ng-container matColumnDef="ativo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngStyle]= "{'color':getColor(element.ativo)}"> {{element.ativo | ativoConversor}} </mat-cell>
            </ng-container>

            <!-- Ações Column -->
            <ng-container matColumnDef="Ações">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas;">
            </mat-row>
        </mat-table>
    </div>
</div>