.main {
  padding-top: 20px;
}

.texto-subtitulo {
    font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins';
    font-size: 28px;
    font-weight: 700;
}

.filtro-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins';
}

.mat-header-cell {
  font-weight: 700;
  color: #606060;
  font-size: 13px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.highlight-row {
  background: #00BFA5;
}